ion-content{
    --ion-background-color:url(/assets/images/mugiwaras.jpg);
}

.d-flex-center{
    height: 90vh;
}

.bg {
    border-radius: 40%;
    width: 300px;
    height: auto;
}



.glass-content{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
width: 100%; 
min-height:100vh;
}



